disabled_plugins = ["cri"]

root = "{{ docker_containerd_root }}"
state = "{{ docker_containerd_state }}"
#subreaper = true
#oom_score = 0

#[grpc]
#  address = "/run/containerd/containerd.sock"
#  uid = 0
#  gid = 0

[debug]
#  address = "/run/containerd/debug.sock"
#  uid = 0
#  gid = 0
  level = "error"
