---
name: Test ansible role

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: "22 2 * * 2"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install ansible-lint black

      - name: Lint code
        run: |
          ansible-lint
          black --check .
        env:
          PY_COLORS: "1"

  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
        scenario:
          - debian-11
          - debian-12
          - ubuntu-2204
          - ubuntu-2404

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install ansible docker molecule molecule-plugins[docker] pytest-testinfra

      - name: Display versions
        run: |
          python -c "import sys; print(sys.version)"
          pip --version
          ansible --version
          molecule --version

      - name: Run Molecule
        run: molecule --base-config molecule/shared/base.yml test --scenario-name ${{ matrix.scenario }}
        env:
          PY_COLORS: "1"
